.add-options--error {
  color: $off-white;
  padding: 0 $m-size;
  margin-top: $m-size;
  font-style: italic;
}

.add-options__form {
  display: flex;
  padding: $m-size;
}

.add-options__input {
  flex-grow: 1;
  background: $dark-blue;
  border: none;
  border-bottom: 0.3rem solid darken($color: $dark-blue, $amount: 10%);
  margin-right: $s-size;
  padding: $s-size;
  color: $off-white;
}

@media (max-width: 45rem) {
  .add-options__form {
    flex-direction: column;
  }

  .add-options__input {
    margin-right: 0;
    margin-bottom: $s-size;
    border: 0.15rem solid darken($color: $dark-blue, $amount: 10%);
  }
}
