.big-button {
  background-color: $purple;
  border: none;
  width: 100%;
  color: white;
  font-size: $l-size;
  margin-bottom: $xl-size;
  padding: $m-size;
  cursor: pointer;
  border-bottom: 0.5rem solid darken($color: $purple, $amount: 10%);
  font-weight: bold;
}

.big-button:disabled {
  opacity: 0.5;
}

.button {
  background-color: $purple;
  color: white;
  border: none;
  padding: 1.2rem;
  border-bottom: 0.3rem solid darken($color: $purple, $amount: 10%);
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

@media (max-width: 45rem) {
  .big-button {
    margin-bottom: $m-size;
  }
}
